<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root123</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/engsoft</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<mapping class="br.usp.ime.academicdevoir.entidade.Aluno" />
		<mapping class="br.usp.ime.academicdevoir.entidade.Professor" />
		<mapping class="br.usp.ime.academicdevoir.entidade.Usuario" />
		<mapping class="br.usp.ime.academicdevoir.entidade.Turma" />
		<mapping class="br.usp.ime.academicdevoir.entidade.Questao" />
		<mapping class="br.usp.ime.academicdevoir.entidade.QuestaoDeMultiplaEscolha" />
		<mapping
			class="br.usp.ime.academicdevoir.entidade.QuestaoDeSubmissaoDeArquivo" />
		<mapping class="br.usp.ime.academicdevoir.entidade.QuestaoDeTexto" />
		<mapping class="br.usp.ime.academicdevoir.entidade.Disciplina" />

	</session-factory>
</hibernate-configuration>